<html>
    <head>
        <title>
            <%= title %>
        </title>
        <!-- other stylesheet here -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
       <style>
            body{
                margin: 0;
                box-sizing: border-box;
            }

            body::-webkit-scrollbar {
                width:12px;
                
            }
            
           body::-webkit-scrollbar-track {
                background-color: rgb(68, 68, 68);
                border: 1px solid rgb(0, 0, 0);
                border-radius: 10px;
            }
            
            body::-webkit-scrollbar-thumb {
                background-color: rgb(182, 213, 231);
                border: 2px solid rgb(64, 157, 233);
                border-radius: 10px;
    
            }
        </style>
        <%- style %>
    </head>

    <body>

        <%- include("_header") %>

        <%- body %>

        <%- include("_footer") %>

        <%- script %>

        <script>
            <% if(flash.success && flash.success.length > 0) { %>
 
                 new Noty({
                     theme: "relax",
                     text: "<%= flash.success %>",
                     type: "success",
                     layout: "topRight",
                     timeout: 1500
                    
                 }).show();
 
           <%  } %>
 
           <% if(flash.error && flash.error.length > 0) { %>
 
                 new Noty({
                     theme: "relax",
                     text: "<%= flash.error %>",
                     type: "error",
                     layout: "topRight",
                     timeout: 1500
                 
                 }).show();
 
             <%  } %>
 
         </script>

    </body>
</html>